@use "sass:color";

$bg: #212223;
$fg: #f1f1f1;
$accent: #378DF7;
$radius: 7px;

window.Bar {
    border: none;
    border-radius: 50px;
    box-shadow: none;
    background-color: $bg;
    color: $fg;
    font-family: Ubuntu Nerd Font;
    font-size: 1.01em;
    font-weight:500;

    .NixIcon {
        padding: 0px;
        // margin: 0px;
        margin-left: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 40px;
    }
    .AppsIcon {
        padding: 0px;
        // margin: 0px;
        margin-left: -3px;
        margin-right: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 40px;
    }
    .SysTray {
        margin-right: 8px;

        button {
            padding: 0 4px;
        }
    }

    .FocusedClient {
        color: $accent;
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Wifi {
        padding-right: 20px;
    }


    .Date {
        font-size: 0.68em;
    }

    .Time {
        font-size: 0.9em;
    }


    .TimeDate {
        padding: 0px;
        margin: 0px;
        padding-right: 20px;
    }

    .Media {
        .MediaContainer {
            margin: 0px;
            padding: 0px;
            margin-left: 4px;
        }
        .Title {
            font-weight: 600;
            font-size: 0.9em;
        }
        .Artist {
            font-size: 0.7em;
        }
        .Cover {
            padding: 6px;
            margin-right: 7px;
        }
    }

    .AudioSlider {
        * {
            all: unset;
        }

        icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }

        trough {
            background-color: color.adjust($fg, $alpha: -0.8);
            border-radius: $radius;
        }

        highlight {
            background-color: $accent;
            min-height: .8px;
            border-radius: $radius;
        }

        slider {
            background-color: $fg;
            border-radius: $radius;
            min-height: 1em;
            min-width: 1em;
            margin: -.2em;
        }
    }

    .VolumeBox {
        // padding-right: 10px;
        circularprogress {
            font-size: 5px;
            min-width: 40px;
            min-height: 40px;
        }
        .volume-label {
            margin-left: 8px;
        }
        // margin-right: 7px;
    }
    .BatteryBox {
        padding-right: 10px;
        circularprogress {
            font-size: 5px;
            min-width: 40px;
            min-height: 40px;
        }
        .battery-label {
            margin-left: 8px;
        }
    }
    .workspace-container {
        padding: 5px 11px 5px 11px;
        border-radius: 50px;
        background-color: #2A2B2C;
    }
      
    .workspace-button {
        text-decoration: none;
        border: none;
        // border: 3px solid $bg;
        // border-radius: 20px;

        margin-left: 4px;
        margin-right: 4px;

        color: #ababab;
        font-size: 20px;
        font-weight: 500;

        transition: all 0.3s ease;
        background-image: none;
        // background-color: #3C3D3E;
        padding: 4px 8px;
        box-shadow: none;

        &.occupied {
            color:#a0a0a0;
            background-color: #454647;
            // border-top: 3px solid $bg;
            // border-bottom: 3px solid $bg;
            border-radius: 0;
            // border: 2px solid #61bf6a;
            margin: 0;
            padding-left: 8px;
            padding-right: 8px;
        }

        &.active {
            background-color: $fg;
            color: $bg;
        }

        &.occupied-left {
            // border-left: 2px solid $bg;
            border-radius: 50px 0 0 50px;
        }

        &.occupied-right {
            // border-right: 2px solid $bg;
            border-radius: 0px 50px 50px 0px;
            &.occupied-left {
                border-radius: 50px;
            }
        }

        &:hover {
            background-color: rgba(67, 76, 94, 0.5);
        }
    }

}
