@use "vars" as *;

window#dashboard {
    all: unset;

    box.Dashboard {
        border-radius: 40px;
        min-width: 450px;
        min-height: 650px;
        .dashboard-container{
        border-radius: 40px;
        min-width: 450px;
        min-height: 650px;
        }

        .sliders-container {
            min-width: 400px;
        }

        background-color: $bg;
        border-radius: 11px;
        margin-top: 10px;
        margin-right: 7px;
        padding: .8rem;
        box-shadow: none;
        text-decoration: none;

        .volume-slider {
            min-width: 300px;
            * {
                padding: 0;
                margin: 0;
                border: none;
            }
        
            .slider-icon {
                margin-left: 14px;
            }
        
            trough {
                transition:
                    background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out;
                border-radius: 100px;
                min-height: 44px;
        
                highlight {
                    min-width: 44px;
                    border-radius: 100px;
                    border-radius: 100px;
                    transition:
                        background-color 0.3s ease-in-out,
                        color 0.3s ease-in-out;
                }
        
                slider {
                    min-width: 44px;
                    min-height: 44px;
                    border-radius: 100px;
                    background-color: transparent;
                    box-shadow: none;
        
                    transition:
                        background-color 0.3s ease-in-out,
                        color 0.3s ease-in-out;
                }
            }
        }
        
        .muted {
            .volume-slider {
                highlight {
                }
            }
            .slider-icon {
            }
        }
        

        entry {
            margin-bottom: .8rem;
        }

        button {
            min-width: 0;
            min-height: 0;
            padding: .5rem;
            box-shadow: none;

            icon {
                font-size: 3em;
                margin-right: .3rem;
            }

            label.name {
                font-weight: bold;
                font-size: 1.1em
            }

            label.description {
                color: gtkalpha($fg, .7);
            }
        }

        box.not-found {
            padding: 1rem;

            icon {
                font-size: 6em;
                color: $fg;
                color: gtkalpha($fg, .7);
            }

            label {
                color: $fg;
                color: gtkalpha($fg, .9);
                font-size: 1.2em;
            }
        }
    }
}