.NixIcon {
    padding: 0px;
    // margin: 0px;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 40px;
}

.AppsIcon {
    padding: 0px;
    // margin: 0px;
    margin-left: -3px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 40px;
}