@use "vars" as *;

window#launcher {
    all: unset;

    box.Applauncher {
        min-width: 380px;
        background-color: $bg;
        border-radius: 11px;
        margin-top: 10px;
        margin-right: 7px;
        padding: 25px;
        box-shadow: none;
        text-decoration: none;
        button {
            transition: all 200ms ease;
            all: unset;
            border-radius: 15px;
            padding: .5rem;
            min-height: 31px;
            icon {
                font-size: 2em;
                margin-right: .3rem;
            }
            &:hover {
                background-color: $bg2;
                transition: all 100ms ease;
            }
            label.name {
                font-weight: 500;
                font-size: 1.1em
            }

            label.description {
                color: gtkalpha($fg, .7);
                font-size: 0.7em;
            }
            &:focus {
                background-color: $fg;
                color: $bg;
                label.description {
                    color: gtkalpha($bg, .7);
                }
                transition: all 100ms ease;
            }
        }

        box.not-found {
            padding: 1rem;

            icon {
                font-size: 6em;
                color: $fg;
                color: gtkalpha($fg, .7);
            }

            label {
                color: $fg;
                color: gtkalpha($fg, .9);
                font-size: 1.2em;
            }
        }

        entry {
            all: unset;
            min-height: 54px;
            margin-bottom: 10px;
            background-color: $bg3;
            font-size: 17px;
            padding-left: 19px;
            margin-left: 16px;
            margin-right: 16px;
            color: $fg;
            border-radius: 6px;
        }

    }
}