@use "sass:color";
@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c}, #{$a})");
}

$bg: #212223;
$bg2: #2A2B2C;
$bg3: #454647;
$fg: #f1f1f1;
$fg2: #a0a0a0;
$fg3: #ababab;
$accent: #378DF7;
$radius: 7px;