@use "sass:color";
@use "sass:string";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c}, #{$a})");
}

$bg: #131f27;
$bg2: #1a2731;
$bg3: #22303b;
$fg: #f1f1f1;
$fg2: #a0a0a0;
$fg3: #ababab;
$accent: #378DF7;
$radius: 7px;